---
// src/components/TripsGrid.astro
import TripCard from '@/components/TripCard.astro';

const { trips, title = "Paquetes Populares" } = Astro.props;
---

<section class="container mx-auto px-5 py-8">
  <h2 class="text-4xl font-bold text-center my-8 text-[var(--secondary-color)]">{title}</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 justify-items-center items-stretch">
    {
      trips.map((trip, index) => (
        <TripCard trip={trip} isLarge={index % 6 === 0 || index % 6 === 5} />
      ))
    }
	</div>
</section>
